<div style='margin:30px; text-align: center'>

  <h1 style='color: #ff4d4d'>Имя сайта</h1>
  <div>
    <br><br><br>
    <h4>{{user.username}} </h4>
    <p> Ваша почта подтверждена. <p>
    <p> Для входа на сайт нажмите <a href='http://localhost:4200/overview' target="_blank">сюда</a>, пожалуйста. </p>
</div>
</div>
